@font-face {
    font-family: 'noteblk';
    src: url(/icomoon/fonts/noteblk.woff);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.gradient {
    width: 0;
    height: 0;
    position: absolute;
}

.curved {
    background: rgb(255, 132, 88);
    color: #fff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.curved h1 {
    font-size: 6rem;
}

.curved p {
    font-size: 1rem;
}

.curved svg {
    display: block;
}

.curved .waves path {
    fill: url(#my-cool-gradient) #939944;
}

.note {
    text-align: center;
    margin: auto;
}

.note path {
    fill: url(#my-cool-gradient) yellow;
}

.icon-noteblk:before {
    content: "\e900";
    font-family: 'noteblk';
    font-weight: 700500;
    font-size: 6em;
    background-color: #f3ec78;
    background-image: linear-gradient(blue, yellow, red);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}